* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

h1 {
  font-size: 54px;
  text-align: center;
}

h3 {
  font-size: 28px;
  color: #444;
  text-align: center;
}

img {
  display: inline-block;
}

.container {
  margin: auto;
  margin-top: 1em;
  max-width: 1200px;
}

.container-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6em;
}

.container-header {
  margin-bottom: 8em;
}

.container-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;

  padding: 0 6em 0 6em;
  margin-bottom: 12em;
}

.container-get-started,
.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  padding: 0 6em 0 6em;
  margin-bottom: 12em;
}

.container-contact-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4em;

  margin-bottom: 12em;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.content-nav {
  display: flex;
  gap: 1.5em;
  align-items: center;
  font-size: 20px;
}

.link-nav,
.link-nav:visited,
.link-nav:link {
  color: #222;
  text-decoration: none;
}

.link-nav:hover {
  color: #555;
}

.link-btn,
.link-btn:visited,
.link-btn:link {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 0.75rem 1.5rem;
  border-radius: 10px;

  background: #222;
  color: #eee;
}

.link-btn:hover {
  color: #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.link-article {
  display: inline-block;
}

.header-article {
  margin-bottom: 0.4em;
}

.list-article,
li {
  list-style-type: none;
}

.paragraph-article {
  margin-bottom: 1em;
}

.article > a {
  margin-top: 0.5em;
}

.list-article {
  margin-bottom: 1em;
}

.list-article > li {
  margin-bottom: 0.2em;
}

.img > img {
  color: #aaa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

