@media (width <= 1000px) {

}

@media (width <= 860px) {        
  .container {
    margin: auto;
    margin-top: 1em;
    max-width: 1200px;
  }
  
  .container-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    padding: 0 2rem;
  }
  
  .container-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  
    padding: 3rem 3rem 3rem 3rem;
    margin-bottom: 4rem;
  }

  .container-article:first-child {
    flex-direction: column-reverse;
  }
  
  .container-get-started,
  .container-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .container-contact-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
  }
  
  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    margin-bottom: 1rem;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  
  .content-nav {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: space-around;
    font-size: 20px;
  }

  .icon {
    display: inline-block;
  }

  .sidebar {
    display: none;
  }

  .topbar .link-nav {
    display: none;
  }

  .container-footer {
    flex-direction: row;
    align-items: center;
  }
}

@media (width <= 600px) {

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 32px;
  }

  .embedded-form {
    width: 300px;
    height: 420px;
  }

  .embedded-map {
    width: 350px;
    height: 350px;
  }
  
  .img > img {
    width: 350px;
  }

  .form-section {
    flex-direction: column;
  }

  .footer-location {
    display: none;
  }

  .container-nav {
    margin-bottom: 2rem;
  }

  .container-header {
    margin-bottom: 5rem;
  }
}