* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
  color: #444;
  text-align: center;
}

h4 {
  margin-bottom: 0.5rem;
}

img {
  display: inline-block;
}

/* .navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
} */

.container {
  margin: auto;
  margin-top: 1em;
  max-width: 1200px;
}

.container-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6rem;
}

.container-header {
  margin-bottom: 8rem;
}

.container-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  padding: 6rem 6rem 6rem 6rem;
  margin-bottom: 4rem;
}

.container-our-program,
.container-sign-up {
  background-color: #c9eded;
}

.container-get-started,
.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.container-get-started {
  padding: 6rem 6rem 6rem 6rem;
  margin-bottom: 4rem;
}

.container-contact-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}

.container-footer {
  display: flex;
  justify-content: space-around;

  margin-bottom: 1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-nav {
  display: flex;
  gap: 1.5em;
  align-items: center;
  font-size: 20px;
}

.link-nav,
.link-nav:visited,
.link-nav:link {
  color: #222;
  text-decoration: none;
}

.link-nav:hover {
  color: #555;
}

.link-btn,
.link-btn:visited,
.link-btn:link {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 0.75rem 1.5rem;
  border-radius: 10px;

  background: #222;
  color: #eee;
}

.link-btn:hover {
  color: #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.link-article {
  display: inline-block;
}

.link-media {
  text-decoration: none;
  font-size: 32px;
}

.header-article {
  margin-bottom: 0.4rem;
}

.list-article,
li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.paragraph-article {
  margin-bottom: 1rem;
}

.article > a {
  margin-top: 0.5rem;
}

.list-article > li {
  margin-bottom: 0.2rem;
}

.img > img {
  color: #aaa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.form-container,
.embedded-map {
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-section {
  display: flex;
  gap: 1rem;
}

.input {
  width: 100%;
  outline: none;
  font-size: 1.2em;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 10px;
  border: 2px solid #777;
}

.input:focus {
  border: 2px solid #999;
}

.btn-submit {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  cursor:pointer;

  background: #222;
  color: #eee;
}

.btn-submit:hover {
  color: #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
